body 
{
	margin: 0px;
	padding: 0px;
}

nav ul li 
{
	text-decoration: none;
	display: inline-block;
	color: white;

}
#wrapper
{
	background-image: url(background.jpg);
	background-size: 1250px 2000px;
	margin: 0px auto;
}

#content
{
	width: 600px;
	margin: 0px auto;
	margin-left: 326px;
}

#title_name {
	text-align: center;
}


section {
	position: center;
	text-align: center;
}
